registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=true
//registry.npmjs.org/:_authToken=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

//npm.pkg.github.com/:always-auth=true
//npm.pkg.github.com/:_authToken=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

